body
{
    text-align: center;
    margin: 10px;
    background-color: rgb(229, 184, 241);
}

h1
{
   font-size: 40px; 
}

#bt
{
    color: red;
    font-size: 20px;
    border-style: solid;
    border-color: darkblue;
    border-width: 2px;
    padding: 10px;
    border-radius: 20px
}

